// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Custom CSS
.landing-page 
{
    .header-spacer--standard {
        margin-bottom: 0 !important;
    }
    .header-spacer--standard {
        height: 100px !important;
    }
}

.top-header-thumb
{
    height: 423px;
    overflow: hidden;
    position: relative;
}

.header-profile-thumb 
{
    img {
        width: 124px;
    }
}

.header-avatar
{
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: #FDFBEE;

    img
    {
        width: 39px;
    }
}

.remember .forgot:hover
{
    color: #ff5e3a !important;
}